<h2>Lista de Categorias: </h2>
<hr>
<a href="/admin/categorias/add"<button type="button" class="btn btn-outline-success">Nova Categoria</button></a>

{{#each categorias}}
    <div class="card mt-3">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data de criação: {{date}}</small><br>
            <a href="/admin/categorias/edit/{{_id}}"><button type="button" class="mt-4 btn btn-success">Editar categoria</button></a>
            <a href="/admin/categorias/delete/{{_id}}"><button type="button" class="mt-4 btn btn-danger">Excluir categoria</button></a>
        </div>
    </div>
{{else}}

{{/each}}